 html,body{
 width:100%;
 font-family: "Raleway",sans-serif;
 background-color: #ddd;
 margin: 0;
 height: 100%;
 
 }
 

 .sidenav {
    height: 25%;
    width: 0;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    background-color: rgba(11, 12, 12, 1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .opennav{
      color: #ddd;
      float: left;
      font-size: 2rem;
      cursor: pointer;
      margin: 7px 8px;
      border: 1px outset #0e4d92;
      padding: 3px 8px;
     
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-align: center;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  

 

 

 .main{
           
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.9),rgba(0, 0, 0, 0.9)),url(./image/monitor.jpg);
    height: 95vh;
    float: left;
   
}
.img-feel-home{
    float: left;
    display: block;
    position: relative;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    
}
.main h1{
    background-color: transparent;
    font-size: 3.7em;
    text-align: center;
    width: 100%;
    position: relative;
    top: 6rem;
    color:#ddd;
    float: left;
    
}
.main h2{
    background-color: transparent;
    text-align: center;
    font-size: 2.5em;
    color:  #588BAE; 
    width: 100%;
    float: left;
    position: relative;
    top: 2rem;
    
}
.main .cv{
    height: 50px;
    width: 200px;
    background-color: transparent;
    border:1px inset #588BAE; 
    border-radius: 30px;
    position: relative;
    top: 5%;
    left: 45%;
    transform: translate(-30%, -50%);
    cursor: pointer;
    float: left;
    
}

.cv h4{
    text-align: center;
    line-height: 5px;
    color: #ddd;
}
.cv a{
    text-decoration: none;
}


.background-cover{
    position: relative;
    top: -80px;
    height: 765px;
    float: left;
    background-color: #ddd;
    width: 100%;
    clip-path: url(#wave);
    -webkit-clip-path: url(#wave);
    
}
.fast{
    height: 230px;
    width: 23%;
    float: left;
    margin-left: 20px;
    margin-top: 5.5rem;
    border-radius: 8px;
    background-color: #dde;
    
}
.fast p{
    color: #201e1f;
}

.img-svg{
    height: 120px;
    width: 120px;
}
#coding{

    
    margin-top: -60px;
    margin-left: 28px;
}

.figure{
width: 41%;
float: left;
margin-left: 3rem;
height: 345px;
border-radius: 5px;
}
.figure p{
    color: #201e1e;
}
.figure p i{
    float: right;
    color: #0e4d92;
}

.figure button{
    background-color: #0e4d92;
    padding: 9px;
    border: none;
    border-radius: 8px;
}
.figure button a {
    color: #fff;
    text-decoration: none;
}

.img-chris{
    position: relative;
    top: 20px;
    left: 77px;
    border-radius: 50%;
    
    
}
.svg{
    display: none;
}

footer{
    background-color: #111; 
    width: 100%;
    height:220px;
    float: left;
    
}

footer p{
background-color:;
text-align: center;
font-size: 0.9rem;
color: #ddd;
margin-top: 1.5rem;
}
.fa-facebook{
    color: #213f57;
    padding: 6px 6px;
    background-color: #fff;
    border-radius: 50%;
}
.fa-twitter{
    color: #33ccff;
    padding: 6px 6px;
    background-color: #fff;
    border-radius: 50%;
}
.fa-linkedin{
    color: #007bb7;
    padding: 6px 6px;
    background-color: #fff;
    border-radius: 50%;
}
.fa-instagram{
    color: rgb(182, 77, 82);
    padding: 6px 6px;
    background-color: #fff;
    border-radius: 50%;
}
.fa-github{
    color: #111;
    padding: 6px 6px;
    background-color: #fff;
    border-radius: 50%;
}

    

/* Mobile device */
@media screen and (max-width: 600px) {

.opennav{color: #ddd; font-size: 1.6rem; margin: 9px 10px; padding: 5px 10px;}
.img-feel-home{height: 180px;width: 220px;float: left;margin-top: 2.2rem; margin-left: -22px;}
.main h1{font-size: 1.8em; margin-top: 3.5rem;}
.main h2{font-size: 1.5em;margin-top: 3.5rem;}

.main .cv{height: 40px;border-radius: 8px;line-height: -30px;width: 140px;margin-top: 1rem;}
.main .cv h4{font-size: 15px; color: #ddd;}
.background-cover{ height: 144rem;width: 100%; float: left;clip-path: none; background-color: transparent; margin-top: 80px;}

.img-svg{ height: 100px; width: 100px; }
.fast{margin-left: 20%; width:65%; height: 240px; float: left; position: absolute; top: -55px; background-color: transparent;}
#responsiveness{top: 2rem; float: left; position: relative;background-color: #fff; 
    border-radius: 0;  padding-left: 30px; margin-left: 17%;}
#programmer{top: -3.5rem; float: left; position: relative; background-color: #fff; 
    border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-right-radius: 30%;   padding-left: 30px; margin-left: 17%;}
#coding{margin-top: -8.7rem;margin-left: 22%;float: left;}
.fast p{color:  rgba(11, 12, 12, 0.7);}
.fast p span{font-size: 25px;}


#coding{top: 88px;left: -8px;position: relative;z-index: 111;}
.figure-cover{float: left; background-color: #fff;height: 1000px; margin-top: 9rem;
border-bottom-left-radius: 8rem;}

.figure{margin-left:8px; width: 90%;height:450px }
.figure p{color:  #383837;}
.img-chris{position: relative;top: 30px;left: 77px;border-radius: 50%}
.svg{display: block}
footer {height: 230px;}
}

/* Tablet device */
@media screen and (min-width: 601px) and (max-width: 1200px){

    .img-feel-home{height: 180px;width: 220px;float: left;margin-top: 3.3rem; margin-left: -30px;}
    .main h1{font-size: 2.2em; margin-top: 13rem;}
    .main h2{font-size: 1.9em;margin-top: 3.5rem;}

.fast{margin-left: 10px; width:43%; height: 210px;position: relative; float: left;}
#coding{top: 10rem;margin-left: 10px;position: relative;float: left;}
#programmer{float: right;}
#responsiveness{float: right; margin-top: -4.3rem;}
.fast p span{font-size: 30px;}

.figure-cover{float: left; background-color: #fff;height: 650px; margin-top: 11rem; border-bottom-left-radius: 8rem;}    
.figure{margin-left:5%; width: 40%;height:450px }

.background-cover{height: 1360px;position: relative;width: 100%;clip-path: none;z-index: 100; float: left}

}
